/* Inter Font Import */

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap');

/* Reset Parameters */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background: #0D0D0D;
    font-family: 'Inter', sans-serif;
    color: whitesmoke;
    min-height: 100vh;
    width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1.2rem;
}

h2:hover {
    color: rgb(116, 236, 103);
    transition: 0.6s;
}

h3 {
    color: #474DFF;
}

nav {
    padding: 30px;
    display: grid;
    grid-template-columns: 25% 75%;
}

a {
    color: inherit;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    font-size: 0.8rem;
}

li a:hover {
    color: #474DFF;
    font-size: 1.3rem;
    transition: 0.5s;
}

p {
    font-size: 0.6rem;
}

.main-container {
    padding: 30px;
    display: flex;
    align-items: center;
}

.product-img {
    width: 580px;
    overflow: hidden;
}

.footer {
    background: black;
    display: grid;
    grid-template-columns: 40% 60%;
    height: 150px;
}

.technologies {
    display: flex;
    flex-direction: column;
    padding: 20px
}

.technologies h4 {
    padding-bottom: 7px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-container button {
    width: 120px;
    border-radius: 5px;
    border: none;
    margin: 3px;
    padding: 5px 7px;
    background:#474DFF;
    color: inherit;
    font-weight: 500;
    font-size: 0.75rem;
}

.investors {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}

.logos {
    height: 60px;
    opacity: 80%;
}

.logos:hover {
    opacity: 100%;
    transition: 0.5s;
    transform: scale (1.5);
}

/* RESPONSIVE  */


@media screen and (max-width: 950px) {

    h1 {
        font-size: 3rem;
        text-align: center;
    }

    h3 {
        text-align: center;
        font-size: 1.7rem;
        padding-top: 10px;
    }

    p {
        font-size: 0.9rem;
        text-align: center;
        padding-top: 10px;
    }

    .main-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .right-container {
        padding-top: 30px;
    }

    .product-img {
        min-width: 100%;
        overflow: hidden;
    }

    .footer {
        display: flex;
        flex-direction: column;
        height: 100%;
    }


    .technologies {
        display: flex;
    }

    h4 {
        text-align: center;
        font-size: 1.5rem;
        padding: 20px 0;
    }
    
    .btn-container {
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        padding-top: 25px;
        padding-bottom: 20px;
    }

    .btn-container button {
        transform: scale(1.4);
    }

    .investors {
        background: #1D1D1D;

}